<div class="center hero-unit">
  <h1>Welcome my New App</h1>

  <h2>
    This is the home page for the
    the app.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<!-- <%=  link_to image_tag("xrails.png", alt: "Rails"), '' %> -->
